footer{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(29, 29, 119)  ;
    padding: 20px;
    .ig{
        display: inline-block
    }
    .wpp{
        display: inline-block;
    }
    .fb{
        display: inline-block;
    }
    
}