@import "body";
@import "header";
@import "main";
@import "footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.servicios{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.servhd{
    padding: 20px;
}
.servmain{
    padding: 20px;
    .lista{
        text-align: center;
        width: 500px;
        margin: auto;
    }
}
.servfooter{
    .volinicio{
        color: rgb(129, 50, 21);
    }
}
.form{
    padding: 20px;
}
.footerform{
    padding: 20px;
}
.boca{
    background-color: rgb(29, 29, 109);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    .res{
        color: yellow;
    }
    .menuavr{
        background-color: yellow;
        color: black;
    }
}
.bdg{
    .roman{
        color: yellow;
    }
    .pbdg{
        font-size: 1.5rem;
        text-align: center;
        color: black;
    }
}
.platos{
    .entradas{
        text-align: center;
        border: 2px black solid;
        font-size: 1.5rem;
    }
    .pp{
        text-align: center;
        border: 2px black solid;
        font-size: 1.5rem;
        background-color: yellow;
        
    }
    .postres{
        text-align: center;
        border: 2px black solid;
        font-size: 1.5rem;
       
    }
}

